# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=データベースのURL
YOUTUBE_API_KEY=YouTube Data APIのキー
VIDEOMNG_JWT_KEY=jwtのキー（ランダム生成した文字列）
PORT=3001
CORS_PROTOCOL=http://
CORS_DOMAIN=localhost:
CORS_PORT=5173
TIMEOUT=10000
ALLOW_USER_OPERATION=true
ENV_PRODUCTION=false
REFRESH_TOKEN_JWT_KEY=リフレッシュトークン用のjwtキー（ランダム生成した文字列）
REFRESH_TOKEN_EXPIRES=リフレッシュトークンの有効期限
ACCESS_TOKEN_JWT_KEY=アクセストークン用のjwtキー（ランダム生成した文字列）
ACCESS_TOKEN_EXPIRES=アクセストークンの有効期限
PEPPER=ペッパー値（ランダム生成した文字列）